name: Tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, mac-latest]
        python-version: ['3.12']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install macOS specific dependencies
      if: runner.os == 'macOS'
      run: |
        brew update
        brew install libdmtx
    - name: Install Linux specific dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install libdmtx0b
    - name: Linux install Google Font Libre Barcode 128
      if: runner.os == 'Linux'
      run: |
        wget -O Libre_Barcode_128.zip https://fonts.google.com/download?family=Libre%20Barcode%20128
        unzip -d libre_barcode_128/ Libre_Barcode_128.zip
        mv libre_barcode_128 /usr/share/fonts/
        fc-cache -fv
    - name: Linux install Google Font Open Sans
      if: runner.os == 'Linux'
      run: |
        wget -O Open_Sans.zip https://fonts.google.com/download?family=Open%20Sans
        unzip -d open_sans/ Open_Sans.zip
        mv open_sans /usr/share/fonts/
        fc-cache -fv
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    - name: Test with tox
      run: tox